body {
  background-color: #162216;
}

body, html {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .info {
    text-align: left;
    font-family: monospace;
    color: #ddd;

    h1, h2 {
      line-height: 1rem;
    }

    h1 {
      font-size: 2rem;
      line-height: 1rem;
    }

    h2 {
      font-size: 1.3rem;
    }

    .divider {
      padding: 0.2rem;
    }

    h3 {
      line-height: 0.5rem;
      font-size: 1.3rem;
    }

    a {
      font-size: 1rem;
      color: #ddd;
      text-decoration: none;
    }
  }
}